<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connexion à l'administration</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/27387cf324.js" crossorigin="anonymous"></script>
        <style>
        body{
            display: flex;
            justify-content: center;
            height: 100vh;
        }
        .card{
            margin-top : 10%;

        }
        </style>
</head>
<body>
<div class="col-md-4">
    <div class="card bg-light">
        <div class="card-header">
            <div class="card-title text-center">
                    <i class="fas fa-lock"></i>
                    Connexion à l'administration
            </div> <br>
        </div>
        <div class="card-body">
            {% if hasError %}
                <div class="alert alert-warning">
                    <p>Les informations que vous avez fournies ne sont pas bonnes.</p>
                </div>
            {% endif %}
            <form method="post">
                <div class="form-group">
                    <label for="_username">
                    Email
                    </label>
                    <input type="text" class="form-control" name="_username" value="{{username}}">
                </div>
                <div class="form-group">
                    <label for="_password">
                    Mot de passe
                    </label>
                    <input type="password" class="form-control" name="_password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">
                    Connexion
                    </button>
                    <a href="{{path('homepage')}}" class="btn btn-link">Revenir à l'accueil</a>
                </div>
            </form>
        </div>
    </div>
</div>
    
</body>
</html>
