<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/app.css">
        <link href="https://fonts.googleapis.com/css?family=Carter+One&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/27387cf324.js" crossorigin="anonymous"></script>

        {% block stylesheets %}{% endblock %}
        <style>
       .bg-primary{
           background: linear-gradient(
      53deg,
      #66ff99,
      #ccffdd,
      #66ff99
    );}
       .btn-primary{
           background-color: #00ffa7 !important;
           border-color: #00ffa7 !important;
       }
       .badge-primary{
           color: white;
           background-color: #80d4ff;
       }
       .text-light {
            color: white
            !important;
    }

    a.text-light:focus,a.text-light:hover{
        color:#101010
        !important
        }

       </style>
    </head>
    <body>
        {% include 'common/header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'common/footer.html.twig' %}

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
