{% extends 'base.html.twig' %}

{% block title %}
Accueil
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron-fluid mt-3">
        <h1 class="display-3 text-center lead">Bienvenue</h1>
       
        <hr>

    </div>
    <br>
    <h2 class="h1 mt-3 mb-4 text-center font_ori">Besoin d'un véhicule pour vous déplacer?</h2>
   
    <br>
    <br>
    <br>
    <div class="text-center">
    <img src="https://cdn.pixabay.com/photo/2016/10/26/22/13/car-1772797_960_720.jpg" alt="une voiture en furie" class="text-center shadow p-3 mb-5 bg-white rounded">

    </div>
            <br><br>
        <p class="text-center">
            <a class="btn btn-primary btn-lg" href="{{path('ads_index')}}" role="button">En savoir plus</a>
        </p>

   
    <br>
    <br>
    <br>
    
</div>
<br>
<br>
<br>
<br>
<br>


{% endblock %}